
<p class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
<input  class="form-control" 
         ng-model="fieldValue" 
         uib-datepicker-popup='yyyy-MM-dd' 
         alt-input-formats="['yyyy-MM-dd']"
         is-open="open" 
         datepicker-options="{dateDisabled: disabled}" ng-required="true" close-text="Close" 
        >

        </p>
        
        